.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 100;
}

.header__left{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.header__center{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid grey;
}

.header__right{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo{
    height: 45px;
    object-fit: contain;
    margin-left: 20px;
}
.header__center__text{
    border: none;
    outline: none;
    margin-inline-start: 8px; 
    flex:1;
}
.header__center__search{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: grey;
}
.header__right__icon{
    margin-right: 20px;
    color: grey;
}